@import 'pre-customizations.scss';
$rootMenuHeight : 50px;
$offsetFromBottomForBodyContent : 10px;
$marginOnSideForSPA : 1px;
$marginOnTopAndBottomForBody : 1px;
$topOfAlertsPanel : $rootMenuHeight + 2 ;
$widthOfAlertsContainer : 300px;
//$heightOfAlertsContainer : 800px;
$heightOfAlertsContainer : calc(100vh - 200px);
$widthOfIndicator : 600px;
$mutedColor : #AAA;
$disabledRowColor : #f8ffe4;
$errorRowColor : #de9e9e;

.spaRootElement {
  margin-left: $marginOnSideForSPA;
  margin-right: $marginOnSideForSPA;
}
.root-menu {
    width: 100%;
    height: $rootMenuHeight;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

.main-body {
  width: 100%;
  position: fixed;
  top: $rootMenuHeight;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: calc(100vh - #{$rootMenuHeight} -  2*#{$marginOnTopAndBottomForBody} );
  overflow: scroll;
}

.full-overflow {
  height: 100%;
  overflow: auto;
}

.main-body-content {
  margin-top: 5px;
  margin-bottom: 5px;
  height: calc(100% - #{$offsetFromBottomForBodyContent});
  margin: $marginOnTopAndBottomForBody $marginOnSideForSPA $marginOnTopAndBottomForBody $marginOnSideForSPA;
}

table.nowrap {
    white-space: nowrap;
    /*width: auto; *//* This will center the table and table size will be NOT extend full width if it does not have to */
    /*margin: auto;*/
}
.applicationRoot {
  width : 100%;
  height : 100vh;
}
.alertsPanel {
  position: fixed;
  top: $topOfAlertsPanel;
  right: 0;
  z-index: 50;
  border-color: #2aabd2;
  margin-right: $marginOnSideForSPA;
}
.alertsContainer {
  //display: none;
  overflow: auto;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: $widthOfAlertsContainer;
  max-height: calc(100vh - 70px);
  border: solid thin;
  float: left
}

.alertsIndicator {
  position: fixed;
  top: 5px;
  width: $widthOfIndicator;
  z-index: 900;
  left: 50%;
  margin-left : -($widthOfIndicator/2);
}

.formSubmit {
  margin: 20px;
}
.sr-modal-body {
  overflow: auto;
  max-height: calc(100vh - 300px);
}

.border-line-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.rep-param {
  padding-bottom: 10px;
  padding-left: 10px;
}

.grid-title-panel {
  display: flex;
  align-items: center;
}

.alertCount {
  margin-top: 15px;
  margin-left: 5px;
}
.alertLabel {
  margin-top: 15px;
  margin-left: 15px;
}

.alertHandle{
  padding:5px;
  margin: 5px;
  font-size: 13px;
  float: right;
  padding-right: 30px;
}
.alertTitle {
  margin: 5px;
  padding: 5px;
}

.alertMessage {
  overflow: auto;
  height: 50px;
  font-size: 10px;
  padding: 3px;
  width:100%;
  padding-right:10px;
}
.alertActionsPanelItem {
  padding: 6px;
  font-size: 10px
}
.alertActionsPanelTime {
  padding: 3px;
  padding-right: 10px;
  float: right
}
.alertActionsPanelBorder {
  border-bottom: 1px solid #ccc;
  margin-top: 2px
}

.alertPresent {
  -webkit-animation: glow 1.5s infinite alternate;
}

@-webkit-keyframes glow {
  to {
    text-shadow: 0 0 5px blue;
  }
}

.sr-control {
 margin-right:5px;
}


.mdm-table {
  height: calc(100vh - #{$rootMenuHeight});
  overflow: auto
}
.review-moreinfo {
  min-width: 100px;
}

.scrollable {
  overflow: scroll;
}
.mdm-prev-value {
  font-size: 12px;
  color : $mutedColor;
}
.springroll-icon {
  font-size: 16px;
}

.springroll-table {
  font-size: 12px;
}

.mdm-disabled .react-grid-Cell{
  background-color: $disabledRowColor;
}

.mdm-error .react-grid-Cell{
  background-color: $errorRowColor;
}

.icon-muted {
  color : $mutedColor;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  // remove the gap so it doesn't close
}

//.navbar-default .navbar-nav > .open > a {
//  background-color: #de9e9e!important;
//}

.toolbar-title {
  font-size: 18px;
  margin-left: 10px;
}
.react-grid-Toolbar {
  width: 100%;
}

.error-icon {
  color: red;
  padding-right: 5px;
  padding-left: 2px;
}


.form-group .Select {
  padding : 0px;
}

.control-panel {
  background-color: #ddd!important;
  border-color: #e7e7e7;
  color: #777;
  margin-left: $marginOnSideForSPA;
  margin-right: $marginOnSideForSPA;
  padding: 10px;
  padding-right: 100px;
  width: calc(100% - 2*#{$marginOnSideForSPA});
}
.secondary-menu {
  background-color: #d3d8e0;
  border-color: #e7e7e7;
  color: #777;
  margin-left: $marginOnSideForSPA;
  margin-right: $marginOnSideForSPA;
  padding-right: 100px;
  width: calc(100% - 2*#{$marginOnSideForSPA});
}

.control-panel-icon {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}


.alert-summary-container {
  color : $navbar-default-color;
}
.react-bs-table {
  margin: 0px!important;
}

.dropdown .dropdown-toggle {
  color: black;
}

button.submitButton {
  background:none;
  border:none;
}

/* For some reason the div for react-select becomes 36px high while the bootstrap
   div is 34px high - this causes a double line at the bottom of the div - to avoid
   this (as a workaround) we dont keep a border for the bootstrap div
 */
.rep-param .Select {
  border : none;
}

/* The following rules are for React Select */
$select-option-focused-bg:          darken(#fff, 2%)  ; // anish
$select-item-color:                 #000; // anish
$select-item-bg:                    #fff ; //anish
$select-option-selected-bg:         #fff;
@import '~react-select/scss/default.scss';

/* End of React Select */
