<?xml version="1.0" encoding="UTF-8"?>

<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.0.xsd">

    <changeSet id="springroll-job" author="anish">
        <createTable tableName="JOB">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="USER_ID" type="varchar(128)"/>
            <column name="SERVICE" type="VARCHAR2(64)" />
            <column name="SERVICE_DESCRIPTION" type="VARCHAR2(1024)" />
            <column name="COMPLETED" type="varchar(1)" />
            <column name="STATUS" type="VARCHAR2(4000)" />
            <column name="JOB_STATUS" type="INTEGER" />
            <column name="START_TIME" type="datetime"/>
            <column name="END_TIME" type="datetime"/>
            <column name="REVIEW_LOG" type="VARCHAR2(2048)"/>
            <column name="PENDING_REVIEWERS" type="VARCHAR2(512)"/>
            <column name="PAYLOADS" type="longblob" />
        </createTable>
        <createTable tableName="SEQUENCE_TABLE">
            <column name="SEQ_NAME" type="VARCHAR2(255)" />
            <column name="SEQ_COUNT" type="bigint" defaultValue="0"/>
        </createTable>
        <createTable tableName="REVIEW_RULE">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="RULE_NAME" type="VARCHAR2(48)" />
            <column name="CHANNEL" type="VARCHAR2(48)" />
            <column name="REVIEW_STAGE" type="int" defaultValue="1"/>
            <column name="APPROVER" type="VARCHAR2(32)"/>
            <column name="APPROVALS_NEEDED" type="int" defaultValue="1"/>
            <column name="FYI_ONLY" type="varchar(1)" />
            <column name="SELF_REVIEW" type="varchar(1)" />
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
            <column name="DESCRIPTION" type="VARCHAR2(128)"/>
        </createTable>
        <createTable tableName="REVIEW_RULE_AUD">
            <column name="ID" type="bigint"> <constraints primaryKey="true"/> </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="REV" type="int"> <constraints primaryKey="true"/> </column>
            <column name="REVTYPE" type="tinyint"/>
            <column name="RULE_NAME" type="VARCHAR2(48)" />
            <column name="CHANNEL" type="VARCHAR2(48)" />
            <column name="REVIEW_STAGE" type="int" defaultValue="1"/>
            <column name="APPROVER" type="VARCHAR2(32)"/>
            <column name="APPROVALS_NEEDED" type="int" defaultValue="1"/>
            <column name="FYI_ONLY" type="varchar(1)" />
            <column name="SELF_REVIEW" type="varchar(1)" />
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
            <column name="DESCRIPTION" type="VARCHAR2(128)"/>
        </createTable>
        <createTable tableName="REVIEW_STEP">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="RULE_ID" type="bigint"/>
            <column name="CHANNEL" type="VARCHAR2(48)" />
            <column name="REVIEW_STAGE" type="int" />
            <column name="APPROVER" type="VARCHAR2(32)"/>
            <column name="NOTIFICATION_ID" type="bigint"/>
            <column name="COMPLETED" type="varchar(1)" />
            <column name="REVIEW_LOG" type="VARCHAR2(2048)"/>
            <column name="VIOLATION_FOR_THIS_STEP" type="BLOB"/>
        </createTable>
        <createTable tableName="REVIEW_STEP_META">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="INITIATOR" type="VARCHAR2(32)"/>
            <column name="SEARCH_ID" type="VARCHAR2(48)" />
            <column name="REVIEW_LOG" type="VARCHAR2(2048)"/>
            <column name="EVENT" type="longblob" />
        </createTable>
        <createTable tableName="ROLE">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="ROLE_NAME" type="varchar(32)">
                <constraints nullable="false" />
            </column>
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
            <column name="DESCRIPTION" type="varchar(256)"/>
        </createTable>
        <createTable tableName="ROLE_AUD">
            <column name="ID" type="bigint"> <constraints primaryKey="true"/> </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="REV" type="int"> <constraints primaryKey="true"/> </column>
            <column name="REVTYPE" type="tinyint"/>
            <column name="ROLE_NAME" type="varchar(32)"/>
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
            <column name="DESCRIPTION" type="varchar(256)"/>
        </createTable>
        <createTable tableName="USER">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="USER_ID" type="varchar(128)"/>
            <column name="ROLES" type="varchar(256)">
                <constraints nullable="false"/>
            </column>
            <column name="COUNTRY" type="varchar(8)"/>
            <column name="LANGUAGE" type="varchar(8)"/>
            <column name="VARIANT" type="varchar(8)"/>
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
        </createTable>
        <createTable tableName="USER_AUD">
            <column name="ID" type="bigint"> <constraints primaryKey="true"/> </column>
            <column name="REV" type="int"> <constraints primaryKey="true"/> </column>
            <column name="REVTYPE" type="tinyint"/>
            <column name="PARENT_ID" type="bigint"/>
            <column name="USER_ID" type="varchar(128)"/>
            <column name="ROLES" type="varchar(256)"/>
            <column name="COUNTRY" type="varchar(8)"/>
            <column name="LANGUAGE" type="varchar(8)"/>
            <column name="VARIANT" type="varchar(8)"/>
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
        </createTable>
        <createTable tableName="NOTIFICATION">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="INITIATOR" type="varchar(32)"/>
            <column name="AUTO_CLEAN" type="varchar(1)" />
            <column name="RECEIVERS" type="varchar(32)"/>
            <column name="USERS" type="varchar(256)"/>
            <column name="CHANNEL_NAME" type="varchar(64)"/>
            <column name="ACK_LOG" type="VARCHAR2(2048)"/>
            <column name="CREATION_TIME" type="datetime"/>
            <column name="VERSION" type="bigint"/>
            <column name="PAYLOAD" type="BLOB"/>
        </createTable>
        <createTable tableName="USER_DELEGATION">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="USER_ID" type="varchar(128)"/>
            <column name="DELEGATE" type="varchar(128)"/>
            <column name="START_DATE" type="date"/>
            <column name="END_DATE" type="date"/>
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
            <column name="DESCRIPTION" type="varchar(256)"/>
        </createTable>
        <createTable tableName="USER_DELEGATION_AUD">
            <column name="ID" type="bigint"> <constraints primaryKey="true" nullable="false"/> </column>
            <column name="REV" type="int"> <constraints primaryKey="true"/> </column>
            <column name="REVTYPE" type="tinyint"/>
            <column name="PARENT_ID" type="bigint"/>
            <column name="USER_ID" type="varchar(128)"/>
            <column name="DELEGATE" type="varchar(128)"/>
            <column name="START_DATE" type="date"/>
            <column name="END_DATE" type="date"/>
            <column name="ACTIVE" type="varchar(1)" />
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
            <column name="DESCRIPTION" type="varchar(256)"/>
        </createTable>
        <createTable tableName="REVIEWS">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="MASTER" type="varchar(128)"/>
            <column name="REVIEWER" type="varchar(128)"/>
            <column name="APPROVED" type="varchar(1)" />
            <column name="COMMENT" type="varchar(128)"/>
            <column name="TIME" type="datetime"/>
        </createTable>
        <createTable tableName="REVINFO">
            <column name="REV" type="int" autoIncrement="true">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="REVTSTMP" type="bigint"/>
        </createTable>

    </changeSet>
    <include relativeToChangelogFile="false" file="springroll-application-liquibase.xml"/>

</databaseChangeLog>