<?xml version="1.0" encoding="UTF-8"?>

<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.0.xsd">

    <changeSet id="springroll-job" author="anish">
        <createTable tableName="JOB">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="USER_ID" type="varchar(128)"/>
            <column name="SERVICE" type="VARCHAR2(64)" />
            <column name="UNDER_REVIEW" type="bit" />
            <column name="STATUS" type="VARCHAR2(4000)" />
            <column name="COMPLETED" type="bit" />
            <column name="START_TIME" type="TIMESTAMP"/>
            <column name="END_TIME" type="TIMESTAMP"/>
            <column name="SERIALIZED_REVIEW_DATA" type="VARCHAR2(2048)"/>
            <column name="SERIALIZED_PAYLOADS" type="longblob" />
        </createTable>
        <createTable tableName="SEQUENCE_TABLE">
            <column name="SEQ_NAME" type="VARCHAR2(255)" />
            <column name="SEQ_COUNT" type="bigint" defaultValue="0"/>
        </createTable>
        <createTable tableName="REVIEW_RULES">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="RULE_NAME" type="VARCHAR2(48)" />
            <column name="REVIEW_STAGE" type="int" defaultValue="1"/>
            <column name="APPROVER" type="VARCHAR2(32)"/>
            <column name="NUMBER_OF_APPROVALS_NEEDED" type="int" defaultValue="1"/>
            <column name="DESCRIPTION" type="VARCHAR2(128)"/>
        </createTable>
        <createTable tableName="REVIEW_STEP">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="RULE_ID" type="bigint"/>
            <column name="REVIEW_STAGE" type="int" />
            <column name="COMPLETED" type="bit" />
            <column name="SERIALIZED_REVIEW_DATA" type="VARCHAR2(2048)"/>
            <column name="SERIALIZED_EVENT" type="longblob" />
        </createTable>
        <createTable tableName="AUTHORITIES">
            <column name="id" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="parent_id" type="bigint"/>
            <column name="authority_name" type="varchar(20)"/>
            <column name="description" type="varchar(256)">
                <constraints nullable="false"/>
            </column>
        </createTable>
        <createTable tableName="GROUPS">
            <column name="id" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="parent_id" type="bigint"/>
            <column name="group" type="varchar(32)"/>
            <column name="authorities" type="varchar(256)"/>
            <column name="description" type="varchar(256)">
                <constraints nullable="false"/>
            </column>
        </createTable>
        <createTable tableName="USERS">
            <column name="id" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="parent_id" type="bigint"/>
            <column name="user_id" type="varchar(128)"/>
            <column name="groups" type="varchar(256)">
                <constraints nullable="false"/>
            </column>
        </createTable>

    </changeSet>
    <include relativeToChangelogFile="false" file="springroll-application-liquibase.xml"/>

</databaseChangeLog>