$navbar-default-bg: #19395c;
$navbar-default-color:             #ddd;
$navbar-default-link-color:                #ddd ;
$navbar-default-link-hover-color: #444;
$navbar-default-link-hover-bg:             #ddd;
