<div style="height: 40px;font-size: 10px;padding: 3px"><%-messageKey%></div>
<div style="width: 300px">

    <span id='trash' style="display: none;padding: 3px;padding-right: 10px" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <span id='accept' style="display: none;padding: 3px;padding-right: 10px" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span id='reject' style="display: none;padding: 3px;padding-right: 10px" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span id='info' style="display: none;padding: 3px;padding-right: 10px" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span style="padding: 3px;padding-right: 10px"><%-creationTime%></span>
    <div style="border-bottom: 1px solid #ccc;"/>
</div>
