<!--<div style="margin-top: 30px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;width: 40px; height: 100px; background-color: #f7f7f7; float: left;border: solid thin; border-color: #2aabd2;">-->
    <!--<div data-toggle="tooltip" title="<%-Localize('ui.toggle.alerts')%>" align="center">-->
        <!--<span id="alerts-handle" style="padding:5px;font-size: 13px;" class="glyphicon glyphicon-eye-open" aria-hidden="true;"></span>-->
    <!--</div>-->
    <!--<div style="border-bottom: 1px solid #ccc;"/>-->
<!---->
    <!--<div id="actionHandle" data-toggle="tooltip" title="<%-Localize('ui.view.approvals')%>" style="padding-top:5px; clear:both;">-->
        <!--<span style="padding:3px;font-size: 11px; float: left" class="glyphicon glyphicon-ok-sign" aria-hidden="true;"></span>-->
        <!--<span  id="action" style="padding:3px;font-size: 11px; float: left">0</span>-->
    <!--</div>-->
<!---->
    <!--<div id="errorHandle" data-toggle="tooltip" title="<%-Localize('ui.view.errors')%>" style="clear:both;">-->
        <!--<span style="padding:3px;font-size: 11px; float: left" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true;"></span>-->
        <!--<span id="error" style="padding:3px;font-size: 11px; float: left">0</span>-->
    <!--</div>-->
<!---->
    <!--<div id="infoHandle" data-toggle="tooltip" title="<%-Localize('ui.view.info')%>" style="clear:both;">-->
        <!--<span style="padding:3px;font-size: 11px; float: left" class="glyphicon glyphicon-info-sign" aria-hidden="true;"></span>-->
        <!--<span id="info" style="padding:3px;font-size: 11px; float: left">0</span>-->
    <!--</div>-->
<!--</div>-->

<div id="alerts-container" class="alertsContainer"/>
