<div id='message' style="overflow: auto;height: 50px;font-size: 10px;padding: 3px; width: 300px"></div>
<div id='action' style="width: 300px">
    <span style="padding-left: 3px"/>
    <span id='dismiss'  data-toggle="tooltip" title="<%-Localize('ui.dismiss')%>" style="display: none;padding: 3px;padding-right: 10px;font-size: 10px" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <span id='accept'   data-toggle="tooltip" title="<%-Localize('ui.accept')%>" style="display: none;padding: 3px;padding-right: 10px;font-size: 10px" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span id='reject'   data-toggle="tooltip" title="<%-Localize('ui.reject')%>" style="display: none;padding: 3px;padding-right: 10px;font-size: 10px" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span id='info'     data-toggle="tooltip" title="<%-Localize('ui.info')%>" style="display: none;padding: 3px;padding-right: 10px;font-size: 10px" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span style="padding: 3px;padding-right: 10px; float: right"><%-creationTimeMoment%></span>
    <div style="border-bottom: 1px solid #ccc; margin-top: 2px"/>
</div>
