<div id='message' class="alertMessage"></div>
<div id='action'>
    <span id='dismiss'  data-toggle="tooltip" title="<%-Localize('ui.dismiss')%>" style="display: none;" class="alertActionsPanelItem glyphicon glyphicon-trash"></span>
    <span id='accept'   data-toggle="tooltip" title="<%-Localize('ui.accept')%>"  style="display: none;" class="alertActionsPanelItem glyphicon glyphicon-ok"></span>
    <span id='reject'   data-toggle="tooltip" title="<%-Localize('ui.reject')%>"  style="display: none;" class="alertActionsPanelItem glyphicon glyphicon-remove"></span>
    <span id='info'     data-toggle="tooltip" title="<%-Localize('ui.info')%>"    style="display: none;" class="alertActionsPanelItem glyphicon glyphicon-info-sign"></span>
    <span class="alertActionsPanelTime"><%-creationTimeMoment%></span>
    <div class="alertActionsPanelBorder"/>
</div>
