<h5 class="text-info"><%-Localize('ui.mdmChangedRecs')%></h5>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <% _.each(mdmChangesForReview.colDefs, function(colDef) {
        if(colDef.name == "id")return;
        %>
        <th><%- colDef.name %></th>
        <% }); %>
    </tr>
    </thead>
    <tbody>
    <%
    _.each(mdmChangesForReview.changedRecords, function(record) {
    %>
    <tr>
        <% _.each(mdmChangesForReview.colDefs, function(colDef) {
        if(colDef.name == "id")return;
        %>
        <td>
            <%
                var changed = record['mdmChangedColumns'][colDef.name]['changed'];
                var newVal = record['mdmChangedColumns'][colDef.name]['val'];
                var prevVal = record['mdmChangedColumns'][colDef.name]['prevVal'];
                if(prevVal == undefined || prevVal == null) prevVal = "null";
                if(!changed){
                    %><%-newVal%><%
                } else {
                    %><div class="alertActionsPanelBorder"><%-newVal%></div><div class="text-muted"><%-prevVal%></div><%
                }
            %>
        </td>
        <% }); %>
    </tr>
    <% }); %>
    </tbody>
</table>