<h3><%-Localize('mdmNewRecs')%></h3>
<table style="width: 100%;" class="table table-hover table-striped">
<thead>
    <tr>
        <% _.each(Object.keys(newRecords[0]), function(name) {
            if(name == "id")return;
        %>
            <th><%- name %></th>
        <% }); %>
    </tr>
</thead>
<tbody>
<%
_.each(newRecords, function(record) {
%>
    <tr>
        <% _.each(Object.keys(record), function(colName) {
            if(colName == "id")return;
        %>
                <td>
                    <%- record[colName]%>
                </td>
        <% }); %>
    </tr>
<% }); %>
</tbody>
</table>