<div id="mymodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info"><%-title%></h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <input type="text" id='comments' class="form-control"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id='accept' type="button" class="btn btn-primary hidden">Approve</button>
                <button id='reject' type="button" class="btn btn-primary hidden">Reject</button>
                <button id='dismiss' type="button" class="btn btn-primary hidden">Dismiss</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->