<?xml version="1.0" encoding="UTF-8"?>

<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.0.xsd
        http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd">

    <changeSet id="springroll-test" author="anish">
        <sql>
            INSERT INTO user VALUES (1,0, 'ANISH', 'BOM,GROUP1');
            INSERT INTO user VALUES (2,0, 'BOM1',  'BOM,GROUP1');
            INSERT INTO user VALUES (3,0, 'BOM2',  'BOM,GROUP2');
            <!--INSERT INTO user VALUES (4,0, 'BOM3',  'BOM,GROUP2');-->

            INSERT INTO  role values (1,0, 'BOM1', 'desc1');
            INSERT INTO  role values (2,0, 'GROUP1',  'desc1');
            INSERT INTO  role values (3,0, 'GROUP2',  'desc1');
            INSERT INTO  review_rule values (1,0, 'Rule1', 1, 'BOM', 1, 0, 'desc1');
            <!--INSERT INTO  review_rules values (2,0, 'Rule1', 3, 'BOM', 1, 'desc2');-->
            <!--INSERT INTO  review_rules values (3,0, 'Rule1', 3, 'FM', 1, 'desc3');-->
            <!--INSERT INTO  review_rules values (4,0, 'Rule1', 5, 'BOM', 1, 'desc4');-->

            INSERT INTO  USER_DELEGATION values (1,0, 'BOM1', 'ANISH', '2016-10-08 12:02:35',  '2017-10-08 12:02:35', 1);
            INSERT INTO  USER_DELEGATION values (2,0, 'BOM2', 'ANISH', '2016-10-08 12:02:35',  '2017-10-08 12:02:35', 1);


        </sql>
    </changeSet>
</databaseChangeLog>
