<?xml version="1.0" encoding="UTF-8"?>

<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.0.xsd
        http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd">

    <changeSet id="springroll-test-mdm" author="anish">
        <createTable tableName="TestTableToCheckMdm">
            <column name="ID" type="bigint" autoIncrement="false">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="PARENT_ID" type="bigint"/>
            <column name="stringVariable" type="varchar(10)"/>
            <column name="booleanVariable" type="varchar(1)" />
            <column name="booleanCVariable" type="varchar(1)" />
            <column name="intVariable" type="int"/>
            <column name="intCVariable" type="int"/>
            <column name="floatVariable" type="float"/>
            <column name="floatCVariable" type="float"/>
            <column name="longVariable" type="bigint"/>
            <column name="longCVariable" type="bigint"/>
            <column name="doubleVariable" type="double"/>
            <column name="doubleCVariable" type="double"/>
            <column name="shortVariable" type="smallint"/>
            <column name="shortCVariable" type="smallint"/>
            <column name="enumType" type="varchar(12)" />
            <column name="bigDecimalVariable" type="decimal(19,2)"/>
            <column name="bigIntegerVariable" type="decimal(19,0) "/>

            <column name="localDateVariable" type="date"/>
            <column name="localDateTimeVariable" type="datetime"/>
            <column name="CREATED_BY" type="varchar(128)"/>
            <column name="CREATED_AT" type="datetime"/>
            <column name="MODIFIED_BY" type="varchar(128)"/>
            <column name="MODIFIED_ON" type="datetime"/>
        </createTable>
    </changeSet>
    <changeSet id="springroll-test" author="anish">
        <sql>
            INSERT INTO user VALUES (1,0, 'ANISH', 'BOM,GROUP1', 'IN', 'en', null, 'T', 'SCRIPT', null, null, null);
            INSERT INTO user VALUES (2,0, 'BOM1',  'BOM,GROUP1', 'UK', 'en', null, 'T', 'SCRIPT', null, null, null);
            INSERT INTO user VALUES (3,0, 'BOM2',  'BOM,GROUP2', 'US', 'en', 'v1', 'T', 'SCRIPT', null, null, null);
            <!--INSERT INTO user VALUES (4,0, 'BOM3',  'BOM,GROUP2');-->

            INSERT INTO  role values (1,0, 'BOM', 'T', 'SCRIPT', null, null, null,'desc1');
            INSERT INTO  role values (2,0, 'GROUP1', 'T', 'SCRIPT', null, null, null,'desc1');
            INSERT INTO  role values (3,0, 'GROUP2', 'T', 'SCRIPT', null , null, null,'desc1');
            INSERT INTO  role values (4,0, 'GROUP3', 'T', 'SCRIPT', null, null, null,'desc1');
            <!--id, parentid, rulename, review stage, approver, approvals needed, fyionly, desc-->
            INSERT INTO  review_rule values (1,0, 'Rule1',         'REVIEW',    1, 'BOM', 1, 'F', 'T', 'T', 'SCRIPT', null, null, null,'desc1');
            INSERT INTO  review_rule values (2,0, 'Rule2',         'REVIEW',    2, 'BOM', 1, 'F', 'T', 'T', 'SCRIPT', null, null, null,'desc2');
            INSERT INTO  review_rule values (3,0, 'Rule3',         'REVIEW',    2, 'BOM', 1, 'F', 'F', 'T', 'SCRIPT', null, null, null,'desc2');
            INSERT INTO  review_rule values (4,0, 'Rule4',         'REVIEW_FYI',4, 'BOM', 1, 'T', 'F', 'T', 'SCRIPT', null, null, null,'desc2');
            INSERT INTO  review_rule values (5,0, 'MdmMasterRule', 'MDM_REVIEW',1, 'BOM', 1, 'F', 'F', 'T', 'SCRIPT', null, null, null,'Rule for MDM Changes');

            INSERT INTO  USER_DELEGATION values (1,0, 'BOM1', 'ANISH', '2016-10-08',  '2017-10-08', 'T', 'SCRIPT', null, null, null, null);
            INSERT INTO  USER_DELEGATION values (2,0, 'BOM2', 'ANISH', '2016-10-08',  '2017-10-08', 'T', 'SCRIPT', null, null, null, null);

            <!--INSERT INTO  SEQUENCE_TABLE values ('REVIEW_RULE',201);-->
            <!--INSERT INTO  SEQUENCE_TABLE values ('ROLE',201);-->
            <!--INSERT INTO  SEQUENCE_TABLE values ('USER',201);-->
            <!--INSERT INTO  SEQUENCE_TABLE values ('USER_DELEGATION',201);-->



        </sql>
    </changeSet>
</databaseChangeLog>
